<% layout('layouts/boilerplate'); %>

<link rel="stylesheet" href="/styles/index.css" />

<% propertys.forEach(function(property) { %>
<div class="card mb-3"style="max-width: 670px;">
  <div class="row g-0">
    <div class="col-md-4">
      <% if (property.images.length){ %>
      <img
        class="img-fluid rounded-start"
        src="<%= property.images[0].url%>"
        alt="<%= property.title %>"
        style="width: 100%"
      />
      <% }else{ %>
      <img
        class="img-fluid rounded-start"
        src="https://res.cloudinary.com/doh1l2ew2/image/upload/v1652365183/yelpcamp/noyu00z1ap2s4nqorqi9.jpg"
        alt="<%= property.title %>"
        style="width: 100%"
      />
      <% } %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= property.title %></h5>
        <p class="card-text mt-5"><%= property.description %></p>
        <p class="card-text mt-5"><small class="text-muted">last Updated: <%= property.updatedAt %></small></p>
        <a class="btn btn-primary mt-1" href="/property/id/<%= property._id %>"
          >more info</a
        >
      </div>
    </div>
  </div>
</div>
<% }); %>
